.form{
  display: flex;
  flex-direction: column;
  background-color: #818181;
  width: 50%;
  margin-left: 25%;
  padding: 10px;

  input{
    height: 20px;
  }

  .label{
    color: aliceblue;
    margin: 5px;
  }

  .inputName,
  .inputSurname{
    margin: 5px;
    height: 20px;
    width: 300px;
  }

  .submit{
    width: 200px;
    height: 30px;
    background-color: #c73434;
    border-radius: 5px;
    color: #ffffff;
  }

  .errMess{
    opacity: 0;;
  }

  .errDis{
    color: #c73434;
  }
}

.cardsForm {
  display: flex;
  flex-wrap: wrap;

  .elem {
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #474646;
    margin: 10px;
    padding: 5px;
    overflow: hidden;

    .ava {
      width: 50px;
      height: 50px;
    }

    span {
      color: #c73434;
      font-weight: 600;
      font-size: 120%;
    }
  }
}



  
